# l2-pool.yaml
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: homelab
spec:
  blocks:
    - cidr: 192.168.1.240/28
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: default
spec:
  interfaces:
    - ^ens[0-9]+
  externalIPs: true
  loadBalancerIPs: true
