apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  parentRefs:
    - name: main
      namespace: network
  hostnames:
    - "authentik.zlaya.tech"
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
