apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway
  namespace: flux-system
spec:
  interval: 10m
  path: ./kubernetes/apps/gateway-api
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: gateway-api-crds
    - name: apps
  decryption:
    provider: sops
    secretRef:
      name: sops-age
