apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: ">=1.7.0"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: longhorn-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultSettings:
      defaultDataPath: /var/mnt/longhorn
      defaultReplicaCount: 3
      storageMinimalAvailablePercentage: 10
      nodeDrainPolicy: always-allow
    persistence:
      defaultClass: true
      defaultClassReplicaCount: 3
      migratable: true
