apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  parentRefs:
    - name: main
      namespace: network
  hostnames:
    - "longhorn.zlaya.tech"
  rules:
    - backendRefs:
        - name: longhorn-frontend
          port: 80
