apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seerr-config
  namespace: seerr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
